.dashboards_page{
    margin-top: 40px;
}
.form input{
    height: 50px;
    width: 320px;
    border-radius: 5px;
}
.form button{
    margin-left:20px;
    height: 50px;
    width: 60px;
    color: white;
    background-color: #333f47;
}
p{
    font-weight: bolder;
    margin-left: -100px;
}
img{
    height:80px ;
    width: 80px;
    margin-top: 40px;
}
select{
    width: 200px;
}