.main_container {
    margin-top: 40px;
    min-height: 800px;
}
.form input{
    height: 50px;
    width: 320px;
    border-radius: 5px;
}
.form button{
    margin-left:20px;
    height: 50px;
    width: 60px;
    color: white;
    background-color: #333f47;
}